{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 140,
  "proseWrap": "preserve",
  "objectWrap": "collapse",
  "singleAttributePerLine": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "quoteProps": "consistent",

  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "printWidth": 80,
        "semi": false,
        "singleAttributePerLine": true
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "printWidth": 80,
        "semi": false,
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 140,
        "singleAttributePerLine": false
      }
    }
  ]
}
