{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 100,
  "proseWrap": "always",
  "singleAttributePerLine": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cva"],
  "overrides": [
    { "files": ["*.tsx", "*.ts"], "options": { "semi": false, "singleAttributePerLine": false } },
    { "files": ["*.html"], "options": { "printWidth": 150, "singleAttributePerLine": false } }
  ]
}
