{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "objectWrap": "collapse",
  "singleAttributePerLine": false,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "quoteProps": "consistent",

  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": { "semi": false, "singleAttributePerLine": true }
    },

    {
      "files": ["*.html"],
      "options": { "printWidth": 150, "singleAttributePerLine": false }
    }
  ]
}
