@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* TYPOGRAPHY */
  --font-display: 'Lato', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --text-h1: 32px;
  --leading-h1: 1.2;
  --weight-h1: 700;

  --text-h2: 26px;
  --leading-h2: 1.3;
  --weight-h2: 700;

  --text-h3: 20px;
  --leading-h3: 1.3;
  --weight-h3: 700;

  --text-h4: 18px;
  --leading-h4: 1.4;
  --weight-h4: 700;

  --text-h5: 16px;
  --leading-h5: 1.4;
  --weight-h5: 700;

  --text-h6: 14px;
  --leading-h6: 1.4;
  --weight-h6: 700;

  --text-p1: 14px;
  --leading-p1: 1.5;

  --text-p2: 12px;
  --leading-p2: 1.5;

  --text-p3: 10px;
  --leading-p3: 1.5;

  /* COLORS */

  /* Base */
  --color-dark: #1c1d21;
  --color-light: #ffffff;

  /* Primary */
  --color-primary-50: #f2f5ff;
  --color-primary-100: #dfe7fe;
  --color-primary-200: #bccbfc;
  --color-primary-300: #97adfa;
  --color-primary-400: #7893f7;
  --color-primary-500: #5e81f4;
  --color-primary-600: #475eaa;
  --color-primary-700: #3a4e85;
  --color-primary-800: #2a3963;
  --color-primary-900: #1e2845;

  /* Secondary */
  --color-secondary-50: #f4f5fc;
  --color-secondary-100: #e6e7f7;
  --color-secondary-200: #d1d3f0;
  --color-secondary-300: #b5b7e5;
  --color-secondary-400: #a0a1dc;
  --color-secondary-500: #9698d6;
  --color-secondary-600: #8181a5;
  --color-secondary-700: #676784;
  --color-secondary-800: #4c4c61;
  --color-secondary-900: #343445;

  /* Support */
  --color-support-50: #fcfcfd;
  --color-support-100: #f9fafb;
  --color-support-200: #f6f7f9;
  --color-support-300: #f3f4f7;
  --color-support-400: #f1f1f5;
  --color-support-500: #f0f0f3;
  --color-support-600: #e6e7ec;
  --color-support-700: #dadce3;
  --color-support-800: #cdd0d9;
  --color-support-900: #babec8;

  /* Attention */
  --color-attention-50: #fff9f0;
  --color-attention-100: #ffefd6;
  --color-attention-200: #ffe1ad;
  --color-attention-300: #ffd285;
  --color-attention-400: #fbc469;
  --color-attention-500: #f4be5e;
  --color-attention-600: #d6a349;
  --color-attention-700: #a97f38;
  --color-attention-800: #7b5b27;
  --color-attention-900: #513c19;

  /* Success */
  --color-success-50: #f1fdf7;
  --color-success-100: #d7faea;
  --color-success-200: #b3f4d5;
  --color-success-300: #8eefc1;
  --color-success-400: #69eaae;
  --color-success-500: #7ce7ac;
  --color-success-600: #57c98b;
  --color-success-700: #3f9c6b;
  --color-success-800: #2d704c;
  --color-success-900: #1d4931;

  /* Error */
  --color-danger-50: #fff5f6;
  --color-danger-100: #ffe5e7;
  --color-danger-200: #ffc7cb;
  --color-danger-300: #ff9fa6;
  --color-danger-400: #ff8b93;
  --color-danger-500: #ff808b;
  --color-danger-600: #db5a65;
  --color-danger-700: #a9404a;
  --color-danger-800: #762d35;
  --color-danger-900: #4e1e23;

  /* Warning */
  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;

  /* Border */
  --color-border-50: #f9f9fb;
  --color-border-100: #f5f5f8;
  --color-border-200: #f2f2f5;
  --color-border-300: #eeeff3;
  --color-border-400: #e9eaf1;
  --color-border-500: #ececf2;
  --color-border-600: #e0e1e9;
  --color-border-700: #d2d3dc;
  --color-border-800: #c3c5cf;
  --color-border-900: #b1b4c0;

  /* Background  */
  --color-back-50: #fbfbfd;
  --color-back-100: #f8f8fc;
  --color-back-200: #f6f6fb;
  --color-back-300: #f4f4fa;
  --color-back-400: #f2f3fa;
  --color-back-500: #f5f5fa;
  --color-back-600: #eceef3;
  --color-back-700: #e1e3eb;
  --color-back-800: #d2d6df;
  --color-back-900: #bec3cf;

  --color-dark: #1c1d21;
  --color-light: #ffffff;
}

[data-theme='dark'] {
  /* Base dark */
  --color-dark: #ffffff;
  --color-light: #1c1d21;

  /* Primary dark */
  --color-primary-50: #1e2845;
  --color-primary-100: #2a3963;
  --color-primary-200: #3a4e85;
  --color-primary-300: #475eaa;
  --color-primary-400: #5e81f4;
  --color-primary-500: #7893f7;
  --color-primary-600: #97adfa;
  --color-primary-700: #bccbfc;
  --color-primary-800: #dfe7fe;
  --color-primary-900: #f2f5ff;

  /* Secondary dark */
  /* --color-secondary-50: #e6d8ff;
  --color-secondary-100: #cbb7ff;
  --color-secondary-200: #b498ff;
  --color-secondary-300: #9a7aff;
  --color-secondary-400: #8963ff;
  --color-secondary-500: #c678dd;
  --color-secondary-600: #a85fc3;
  --color-secondary-700: #8d4da3;
  --color-secondary-800: #713e84;
  --color-secondary-900: #563066; */
  --color-secondary-50: #f4f5fc;
  --color-secondary-100: #e6e7f7;
  --color-secondary-200: #d1d3f0;
  --color-secondary-300: #b5b7e5;
  --color-secondary-400: #a0a1dc;
  --color-secondary-500: #9698d6;
  --color-secondary-600: #8181a5;
  --color-secondary-700: #676784;
  --color-secondary-800: #4c4c61;
  --color-secondary-900: #343445;

  /* Support dark */
  --color-support-50: #d7d9de;
  --color-support-100: #c3c6cd;
  --color-support-200: #aeb3bc;
  --color-support-300: #9ba0ac;
  --color-support-400: #878d9b;
  --color-support-500: #3e4451;
  --color-support-600: #353a46;
  --color-support-700: #2c313c;
  --color-support-800: #252933;
  --color-support-900: #1f222b;

  /* Attention dark */
  --color-attention-50: #ffdfc2;
  --color-attention-100: #ffc79c;
  --color-attention-200: #ffae75;
  --color-attention-300: #ff974f;
  --color-attention-400: #ff8832;
  --color-attention-500: #d19a66;
  --color-attention-600: #b67f4d;
  --color-attention-700: #99673f;
  --color-attention-800: #7d5131;
  --color-attention-900: #633e25;

  /* Success dark */
  --color-success-50: #c8ffe1;
  --color-success-100: #a4f7cd;
  --color-success-200: #80f0b8;
  --color-success-300: #5ce8a3;
  --color-success-400: #44de91;
  --color-success-500: #98c379;
  --color-success-600: #7fad64;
  --color-success-700: #689953;
  --color-success-800: #517743;
  --color-success-900: #3c5833;

  /* Error dark */
  --color-danger-50: #ffc7ca;
  --color-danger-100: #ff9ea2;
  --color-danger-200: #ff767c;
  --color-danger-300: #ff4e56;
  --color-danger-400: #ff2f39;
  --color-danger-500: #e06c75;
  --color-danger-600: #c25761;
  --color-danger-700: #a7444e;
  --color-danger-800: #8a343d;
  --color-danger-900: #6b262d;

  /* Warning dark */
  --color-warning-50: #fff4c2;
  --color-warning-100: #ffe890;
  --color-warning-200: #ffdb5e;
  --color-warning-300: #ffcf2d;
  --color-warning-400: #ffc400;
  --color-warning-500: #e5c07b;
  --color-warning-600: #c3a25d;
  --color-warning-700: #a28547;
  --color-warning-800: #816935;
  --color-warning-900: #63502a;

  /* Border dark */
  --color-border-50: #abb2bf;
  --color-border-100: #9ba2b0;
  --color-border-200: #8b92a0;
  --color-border-300: #7c8391;
  --color-border-400: #6d7583;
  --color-border-500: #5c6370;
  --color-border-600: #4d545f;
  --color-border-700: #3f454f;
  --color-border-800: #333841;
  --color-border-900: #272b32;

  /* Background dark */
  --color-back-50: #e6e8eb;
  --color-back-100: #cfd3d9;
  --color-back-200: #b8bdc6;
  --color-back-300: #9fa6b3;
  --color-back-400: #868ea0;
  --color-back-500: #282c34;
  --color-back-600: #21252b;
  --color-back-700: #1c1f24;
  --color-back-800: #181a1f;
  --color-back-900: #121417;
}

@layer utilities {
  .text-h1 {
    /* font-family: var(--font-sans) */
    font-size: var(--text-h1);
    line-height: var(--leading-h1);
    font-weight: var(--weight-h1);
  }

  .text-h2 {
    font-size: var(--text-h2);
    line-height: var(--leading-h2);
    font-weight: var(--weight-h2);
  }

  .text-h3 {
    font-size: var(--text-h3);
    line-height: var(--leading-h3);
    font-weight: var(--weight-h3);
  }

  .text-h4 {
    font-size: var(--text-h4);
    line-height: var(--leading-h4);
    font-weight: var(--weight-h4);
  }

  .text-h5 {
    font-size: var(--text-h5);
    line-height: var(--leading-h5);
    font-weight: var(--weight-h5);
  }

  .text-h6 {
    font-size: var(--text-h6);
    line-height: var(--leading-h6);
    font-weight: var(--weight-h6);
  }

  .text-p1 {
    font-size: var(--text-p1);
    line-height: var(--leading-p1);
  }

  .text-2 {
    font-size: var(--text-2);
    line-height: var(--leading-2);
  }

  .text-3 {
    font-size: var(--text-3);
    line-height: var(--leading-3);
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  transition: all 200ms ease-in-out;
}

/* Remove default browser focus outline for form controls.
  If you want to preserve keyboard accessibility, consider replacing
  this with a custom :focus-visible style (e.g. ring) instead. */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
